.section-about {
  
    font-size: 20px;
    padding: 75px 0;
   
    .title {
        font-size: 30px;
        margin-bottom: 25px;
        font-weight: 600;
        text-align: center;
        @media (min-width: 1023px) {
            font-size: 50px;
        }
    }

  .description {
    margin-bottom: 15px;
  }

  .text {
    margin-bottom: 0;
  }

  .support-us {
    margin-bottom: 40px;
    padding: 40px 0 25px;
    text-align: center;
    @media (min-width: 1023px) {
      padding: 60px 0 25px;
    }
  }
  .support-us__icon {
    @media (min-width: 1023px) {
     margin-top: 45px;
    }
  }
  &.section-indent {
    padding-bottom: 40px;
  }
+   .section-gallery  {
    padding-top: 0;
  }
}