.section-about {
    text-align: center;
    font-size: 20px;
    padding: 75px 0;
   
    .title {
        font-size: 30px;
        margin-bottom: 25px;
        font-weight: 600;

        @media (min-width: 1023px) {
            font-size: 50px;
        }
    }

  .description {
    margin-bottom: 15px;
  }

  .text {
    margin-bottom: 0;
  }

  .support-us {
    margin-bottom: 40px;
  }

  &.section-indent {
    padding-bottom: 40px;
  }
+   .section-gallery  {
    padding-top: 0;
  }
}