
.section-content {
    .swiper-button-prev, .swiper-button-next {
        top: 50%;
        transform: translateY(-50%);
    }
}

.swiper-event {
    border-radius: 8px;
    overflow: hidden;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 25px;
    display: flex;

    .swiper {
        width: 100%;
    }
    .swiper-slide {
        padding: 0;
        display: flex;
    }
    .swiper-slide {
        height: auto;
        min-height: 100px;
    }
    .event-gallery-card {
        .bg-image {
            display: flex;
            height: auto;
            width: 100%;
            justify-content: center;
            padding: 40px;
            img {
                border-radius: 8px;
                box-shadow: rgb(39, 25, 124) 0px 0px 30px;
                max-width: 100%;
            }
        }
    }
}

.event-gallery-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .event-gallery-card__body {
        transition: transform .3s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        font-size: 18px;
        line-height: 1;
        padding: 15px;
        transform: translate(-100%);
        h2 {
            margin-bottom: 10px;
            font-size: 22px;
            text-transform: capitalize;
        }
        h4 {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }

    &:hover {
        .event-gallery-card__body {
            transform: translate(0%);
        }
    }
}