

.section-content {
    .swiper-button-prev, .swiper-button-next {
        top: 50%;
        transform: translateY(-50%);
    }
}

.swiper-event {
    max-height: 600px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgb(39, 25, 124) 0px 0px 30px;
    margin-bottom: 40px;
    display: flex;

    .swiper {
        width: 100%;
    }
    .swiper-slide {
        padding: 0;
    }
    .swiper-slide {
        height: auto;
        min-height: 100px;
    }
    .event-gallery-card {
        .bg-image {
            position: relative;
            padding-top: 60%;
            width: 100%;
            img {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }


}

.event-gallery-card {
    overflow: hidden;
    position: relative;
    .event-gallery-card__body {
        transition: transform .3s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        font-size: 18px;
        line-height: 1;
        padding: 15px;
        transform: translate(-100%);
        h2 {
            margin-bottom: 10px;
            font-size: 22px;
            text-transform: capitalize;
        }
        h4 {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }

    &:hover {
        .event-gallery-card__body {
            transform: translate(0%);
        }
    }
}