@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Oswald:wght@400;600;700&display=swap');
$font-family-header: 'Lora', serif;
$font-base: 'Oswald', sans-serif;


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x8qe7w');
  src:  url('../fonts/icomoon.eot?x8qe7w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x8qe7w') format('truetype'),
    url('../fonts/icomoon.woff?x8qe7w') format('woff'),
    url('../fonts/icomoon.svg?x8qe7w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\f082";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}



html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  width: 100%;
  font-family: $font-base;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-base;
  font-weight: normal;
  margin: 0;
  position: relative;
  font-size: 18px;

  @media (min-width: 1023px) {
     font-size: 24px;
  }
}

a {
  font-weight: 400;
  color: #000;
 
  &.link-decorated { 
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #fff;
    &:after {
        position: absolute;
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color:#fff;
        height: 2px;
        transform: scaleX(1);
        transform-origin: right;
        transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
    }
    &:hover {
        &:after {
            transform: scaleX(0);
        }
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
  padding-right: 25px;
  padding-bottom: 4px;
  font-weight: 500;
  position: relative;
  color: #202f4b;
  &:after {
    content: '\2794';
    position: absolute;
    top: 0;
    right: 0;
    color: inherit;;
    transform: translateX(0);
    transition: all .3s ease;
  }
 
  &:hover {
    
    &:after{
      transform: translateX(4px);
    }
  }
}

main {
  padding-top: 102px;

  @media (min-width: 767px) {
    padding-top: 0;
  }
}

.container {
  max-width: 1440px;
  padding:  0 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 25px;
}



h1 {
  font-size: 70px;
}

.post-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -15px;
}

.post-row .col {
  max-width: 33%;
  width: 100%;
  padding:  0 15px;
  margin-bottom: 25px;
}

.section-artist {
  color: #fff;
  padding: 150px 0 40px;
  background: rgb(9 0 76);
  @media (min-width: 1200px) {
    padding: 150px 0;
}
  
  .container {
    max-width: 1000px;
  }

  &__image {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 30px #27197c;
    img {
      width: 100%;
      object-fit: cover;
      object-position: 0 0 ;
    }
  }

  &__title {
      font-size: 40px;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 20px;
  }
  &__position {
      font-size: 24px;
      margin-bottom: 80px;
      text-align: center;
  }

  .text {
    font-weight: 400;
  }
}

.pagination{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 0;
  padding-left: 0;

  .link {
    color: inherit;
    font-size: 20px;
    text-transform: capitalize;

    &::before {
      background-color: #fff;;
    }
    &.next {
      padding-right: 25px;
      
      &:after {
        content: '>';
        opacity: 1;
        transform: translateX(0);
        visibility: visible; 
      }
    }
   
    &.prev {
        padding-left: 15px;
        padding-right: 0;
        
        &:before {
          transform-origin: right;
        }
        &:after {
          content: '>';
          opacity: 1;
          top: 4px;
          visibility: visible;
          transform: rotate(180deg);
          right: auto;
          left: 0;
        }
    } 
  }
}


h1,
h2,
h3,
h4,
h5,
h6  {
  font-family: $font-family-header;
  font-weight: 600;
}
h6  {
  font-family: $font-family-header;
  font-weight: 600;
  font-size: 18px;
}

h1{
  font-size: 35px;
  @media (min-width: 767px) {
    font-size: 50px;
  }

  @media (min-width: 1200px) {
      font-size: 70px;
  }
}

p {
  margin-top: 0;
}
h2 {
  font-size: 27px;
  @media (min-width: 1023px) {
    font-size: 50px;
  }
}

h3 {
  font-size: 23px;
  @media (min-width: 1023px) {
    font-size: 30px;
  }
}

.title {
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 25px;

  @media (min-width: 1023px) {
    font-size: 50px;
  }
}

.track-vertical {
  width: 6px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #d1d5f1;
  
  >div {
    height: 85px!important;
    border-radius: 3px!important;
    opacity: .7;
    background-color: #202f4b!important;
  }
}

.text {
  margin-bottom: 20px;
 
  @media (min-width: 1023px) {
    margin-bottom: 60px;
  }
}

section {
  padding: 40px 0;

  @media (min-width: 1023px) {
    padding: 60px 0;
  }

  &.section-indent {
   padding-top: 65px;
   
    @media (min-width: 768px) { 
      padding-top: 250px;
     }
   }
}

.col {
  margin-bottom: 40px;
}
section-projects {
  
}
.section-content {
  color: #000;
  padding: 150px 0 40px;
  background-color: rgba(11, 0, 104, 0.0509803922);
  @media (min-width: 1024px) {
    padding: 150px 0 100px;
  }
  @media (min-width: 1200px) {
    padding: 190px 0 100px;
  }
  article {
    position: relative;
  }
 

 
  &__image {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 30px #27197c;
    img {
      width: 100%;
      object-fit: cover;
      object-position: 0 0 ;
    }
  }

  &__title {
      font-size: 40px;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 20px;
  }
  &__subtitle {
      font-size: 24px;
      margin-bottom: 80px;
      text-align: center;
  }

  &__contetn {
    font-weight: 400;
    font-size: 24px;
  }

  .pagination{ 
    color: #000;

    .link:before {
      background-color: #000;
    }

  }
}


.event-new {
  background-color: #244177;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  top: -15px;
  right: 25px;
  z-index: 2;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    background-color: #202f4b;
    box-shadow: 0 0 15px #3a61aa;
  }
}
body::-webkit-scrollbar {
  width: 10px;
  box-shadow: 1px 1px 10px #202f4b;              
}

body::-webkit-scrollbar-track {
  background: #202f4b;      
}

body::-webkit-scrollbar-thumb {
  background-color:  rgb(5, 75, 115); 
  border-radius: 10px; 
  width: 10px;     
  border: 1px solid #bfb4b4;  
}

.description {
  margin-bottom: 40px;
}

.support-us {
  padding: 15px 0;
  &__icon {
      margin: 0 auto;
      transition: opacity .3s ease;
      width: 140px;
      display: block;
      img {
          width: 100%;
      }
      &:hover {
          opacity: .7;
      }
  }
  h5 {
    text-transform: capitalize;
    color: inherit;
    margin-bottom: 0;
    line-height: 1;
  
}
}


body.active-popup {
  overflow: hidden;
  height: 100%;
}