.event-card {
    transition: box-shadow .3s ease;
    position: relative;
    text-decoration: none;
    color: #000;
    display: block;
    border: 1px solid #000;
    border-radius: 8px;
    position: relative;
    text-decoration: none;
    color: #000;
    display: block;
    border: 1px solid #382e2e29;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #382e2e29;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    &:hover {
        box-shadow: 0px 0px 15px #382e2e94;
        .newEvent {
            box-shadow: 3px 3px 27px #61b8eb;
        }
        .link {
            &:before {
                transform: scaleX(1);
                opacity: 1;
                visibility: visible;
            }
           
            &:after {
                transform: translateX(4px); 
            }
        }
        img {
            transform: scale(1.07);
        }
    }
   
    &__img {
        display: flex;
        height: 350px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        width: 100%;
       
       
        img {
            transition: transform .3s ease;
            width: 100%;
            object-fit: cover;
            object-position: 0 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .newEvent {
        transition: box-shadow .3s ease ;
        display: inline-block;
        padding: 12px;
        position: absolute;
        background-color: #202f4b;
        top: 7px;
        color: #fff;
        border-radius: 4px;
        z-index: 7;
        right: 7px;
        font-weight: 500;
        box-shadow: 0px 0px 8px #2573a1;;
    }

    &__title {
        font-size: 20px;
        text-transform: capitalize;
        @media (min-width: 1200px) {
            font-size: 28px;
        }
    }
    &__body {
        margin-top: -15px;
        background-color: #0b00680d;
        padding: 40px 15px;
        width: 100%;
    }

    &__text {
       
        @media (min-width: 1200px) {
            font-size: 20px;
        }
    }

    .link {
        text-transform: uppercase;

        @media (min-width: 1200px) {
            font-size: 20px;
        }
    }
}

