.footer {
    background-color: rgb(9, 0, 76);
    box-shadow: 0px 0px 30px #27197c;
    padding-bottom: 25px;


    .support-us {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        &__icon {
            margin-left: 15px;
            margin-right: 0;
        }
    }

    &__logo {
        max-width: 115px;
        width: 100%;
       
        >* {
            width: 100%;
        }
        a {

        }
       
        img {
            display: block;
            width: 100%;
        }
    }
   
    &__navigation {
        padding: 25px 0 ;

        @media (min-width: 768px) { 
            padding: 45px 0;
            display: flex;
            justify-content:space-around;
            align-items: flex-start;
        }
    }
    &__title-opener {
        top: 5px;
        right: 15px;
        z-index: 2;
        width: 27px;
        height: 27px;
        position: absolute;
        cursor: pointer;
        &:after {
            position: absolute;
            top: calc(50% - 2px);
            left: 50%;
            width: 100%;
            height: 2px;
            content: "";
            background-color: #fff;
            transform: translate(-50%, 50%);
        }
        &:before {
            position: absolute;
            background-color: #fff;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            content: "";
            transform: translateX(-50%);
        }
       
        @media (min-width: 768px) { 
            display: none;
        }
    }
    
    &__nav {
        margin-left: auto;
        @media (min-width: 768px) { 
            max-width: calc(100% - 150px);
            width: 100%;
            display: flex;
            justify-content:space-around;
            align-items: flex-start;
        }
    }
   
    &__title {
        transition: color .3 ease;
        text-transform: capitalize;
        font-size: 20px;
        margin-bottom: 10px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
    }
    
    &__list {
        width: 100%;
        list-style: none;
        margin: 0 0 18px;
        padding: 0 ;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease;
        @media (min-width: 768px) { 
            max-height: 100%;
            overflow: visible;
        }
        li {
            padding-bottom: 15px;
            &:last-child {
                padding-bottom: 0;
            }
        }
       
    }

    &__list-item {
        font-weight: 400;
        position: relative;
        padding: 0 15px;
        font-size: 18px;
        margin-bottom: 15px;
        @media (min-width: 768px) { 
            margin-right: 12px;
            padding: 0 ;
            margin-bottom: 0;
        }
        @media (min-width: 1024px) { 
            margin-right: 35px;
           
        }
        &:last-child {
            margin-right: 0;
        }
        &.active {
            .footer__list {
                @media (max-width: 767px) { 
                    max-height: 1000px;
                    padding: 0 0 15px ;
                }
            }
            .footer__title-opener {
                &:before {
                    display: none;
                }
            }
        } 
      
        &.active {
            color: #2cabcd;
        }
       
        a {
            transition: border-color .3s ease;
            color: #fff;
            text-transform: capitalize;
            text-decoration: none;
            border-bottom: 1px solid #fff;
            &:hover {
                border-color: transparent;
            }
            &[aria-current="page"]  {
                color: #00d0ff;
                border-color: #00d0ff;
               
            }
        }
    }

    .opener-wrapper {
        position: relative;
    }
    .social-list {
        justify-content: center;
        li {
            margin-right: 25px;
        }
    }

    .social-holder {
        position: relative;
        padding: 15px 15px 0;

        &:after {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 100%;
            content: '';
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(70,77,252,0.35) 100%);
        }
    }
}

a.footer__title {
   
    &:hover{
        &:after {
            transform: translateX(9px);
        }
    }
}

.copyright-holder {
    text-align: center;
    padding-top: 13px;
    p {
        color: rgb(255 255 255 / 30%);
        font-size: 14px;
        margin: 0;
    }
}


