.sectionMain {
    padding: 0;
   
    .title {
        font-size: 35px;
        margin-bottom: 40px;
       
        @media (min-width: 767px) {
            font-size: 50px;
        }
     
        @media (min-width: 1200px) {
            font-size: 70px;
        }
    }
   
    .text {
        font-size: 18px;
         font-family: 'Lora';
         p {
            font-family: inherit;
         }
        
        @media (min-width: 1200px) {
            font-size: 24px;
        }
    }

    .subtitle {
        font-size: 22px;
        margin-bottom: 20px;
   
        @media (min-width: 1200px) {
            font-size: 30px;
        }
    }
    .swiper-slide  {
        padding: 60px 0 54px;
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
        position: relative;
        height: auto;
        @media (min-width: 1024px) {
            height: calc(100vh - 60px);
            min-height: 700px;
        }
       
        .bg-image {
            display: flex;
            img {
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                width: 100%;
                object-position: 0 0;
            }
       }
      
       .bg-image-layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: .4;
       }
    }
}



.sectionMain__slide{
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (min-width: 768px) {
       padding-top: 140px;
    }
    @media (min-width: 1024px) {
        min-height: 100vh;
    }
}



.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 20px;
  
    @media (min-width: 1023px) {
        bottom: 60px;
    }
  
    .swiper-pagination-bullet {
        width: 18px;
        transition:  background-color .3s ease;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #fff;
        background-color: transparent;
        margin: 0;
        position: relative;
        opacity: 1;
        overflow: hidden;
       
        +  .swiper-pagination-bullet { 
            margin-left: 15px;
        }

        &.swiper-pagination-bullet-active {
            background-color: #fff;
         
        }
    }
}