


.subtitle {
    text-transform: capitalize;
    color: inherit;
    @media (min-width: 1023px) {
        font-size: 24px;
    }
}



.text {
    color: inherit;
    

    @media (min-width: 1023px) {
        font-size: 24px;
    }
}