.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
    display: flex;
  }

  .massonry-gallery {
    position: relative;

  }

  .image-masonry {
    position: relative;
    cursor: pointer;
    &:hover {
      .icon-wrapper  {
            transform: scale(1);
            opacity: 1;
            visibility: visible;  
        }
    }
    img {
        width: 100%;
        object-fit: cover;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
        color: #fff;
        font-weight: 300;
       
    }
  }

  .icon-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px ;
    content: '';
    background-color: rgba(11, 35, 70, 0.83);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition:  transform .3s ease, opacity .3s ease , visibility .3s ease;
}
  .section-gallery {
    padding-top: 0;
    .container {
      text-align: center;
      max-width: 1700px;
    }
  }


  .popup-wrapper { 
    z-index: 999;
    transition: opacity .3s ase, visibility .3s ease;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(11, 35, 70, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .popup-body {
    padding: 15px;
    width: 100%;
    max-width: 80vw;
    height: 90vh;
    span {
      color: #fff;
      transition: color .3s ease , text-shadow .3s ease;
      display: block;
      margin-left: auto;
      cursor: pointer;
      width: 40px;
      margin-bottom: -40px;
      z-index: 5;
      color: #dfeef5;
      position: relative;
      text-shadow: 0px 0px 12px #544168;
      &:hover {
        color: #124e8d;
        text-shadow: 0px 0px 12px #8ca3bb52;
      }
    }
  }

  .popup-image {
    text-align: center;
    border-radius: 8px;
    position: relative;
    height: 100%;
    img {
      border: 1px solid #000;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }